<?xml version="1.0" encoding="UTF-8"?>
<configuration
	xmlns="http://ch.qos.logback/xml/ns/logback"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
	<contextName>Ares</contextName>

	<appender name="STDOUT"
		class="de.tum.in.test.api.security.FixSystemErrAppender">
		<encoder>
			<pattern>[%level] [%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>