name: Java Gradle CI

on:
  pull_request:
  push:
    branches:
      - 'master'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  release:
    types:
     - created

jobs:
  test-gradle:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17]
    name: Java ${{ matrix.java }} Gradle Run
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v2
      with:
        distribution: 'termurin'
        java-version: ${{ matrix.java }}
    - name: Cache Maven Dependencies
      uses: actions/cache@v2.1.7
      with:
        path: ~/.m2/repository
        key: ares-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ares-maven-
    - name: Move Gradle build file
      run: mv ./src/test/resources/build.gradle ./build.gradle
    - name: Build and Install with Maven and JDK ${{ matrix.java }}
      run: mvn -B clean install -Dmaven.test.skip=true -Dmaven.javadoc.skip=true -Dmaven.source.skip=true
    - name: Test with Gradle and JDK ${{ matrix.java }}
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 7.4
        arguments: test
